.App {
  text-align: center;
  position: absolute;
  margin-left: calc(50% - 175px);
  margin-bottom: calc(50% - 175px);
  top: calc(50% - 260px);
  bottom: calc(50% - 260px);
  /* height: 100%; */
}

/*
.App .rsc {
  height: 100%;
}

.App .rsc-container {
  height: 100%;
}

.App .rsc-content {
  height: calc(100% - 112px);
} */

.rps-component {
  width: 100%;
  height: 100%;
}

.rps-component .rps-text {
  margin-top: 0;
}

.rps-display {
  display: flex;
}

.rps-component .move {
  background-color: #6e48aa;
  width: 70px;
  height: 70px;
  margin-right: auto;
  padding: 12px;
  border-radius: 50%;
}

.rps-component .move:last-child {
  margin-right: 0;
}

.rps-component .move img {
  height: 100%;
}

.rps-in-play {
  filter: blur(3px);
  animation: shake 1s;
  animation-iteration-count: infinite;
}

@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}